html,body{
    height:100%;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%

}
body{
    background-color: pink;
}
.head{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        font-size: 26px;
        text-decoration: none;
    }
    .right{
        display: flex;
        align-items: center;
        p{
            margin-right: 10px;
            #manager{
                display: none;
            }
        }
        button{
            width: 50px;
            height: 36px;
            border: none;
            text-align: center;
            line-height: 36px;
            padding: 0 0;
        }
    }
}
.body{
    flex:1;
    display: flex;
    background-color: #fff;
    .menu{
        width: 200px;
        border-right: 1px solid forestgreen;
        li{
            height: 50px;
            border-bottom: 1px solid rosybrown;
            padding-left: 20px;
            line-height: 50px;
            a{
                text-decoration: none;
                font-size: 20px;
            }
        }
    }
    .content{
        flex:1;
        text-align: center;
        p{
            font-size: 40px;
            text-align: center;
            height: 80px;
            line-height: 80px;
            font-weight: 600;
        }
        
    }
}
.foot{
    height: 50px;  
}